
        body {
            font-family: Arial, sans-serif;
            background: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        .banner {
            background: #006341;
            color: white;
            text-align: center;
            padding: 20px;
        }

         .banner img{
             width: 180px;
        }

        .evaluation-form {
            background: white;
            width: 80%;
            margin: 20px auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.2)
        }

        section {
            margin-bottom:30px;
        }

        h2 {
            border-bottom: 2px soild #006341
            padding-bottom 5px;
        }

        label {
            display: block;
            margin: 80px;
            resize: vertical;
        }

        .submit-btn {
            background: #006341;
            color: white;
            border: none;
            padding: 12px 20px;
            border: radius 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .submit-btn:hover {
            background: #004f32;
        }